.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.import-btn {
  background-color: green;
  color: white;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 100px;
  bottom: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.export-btn {
  background-color: crimson;
  color: white;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 200px;
  bottom: 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}
